<div class="flex flex-wrap gap-3">
  <div
    [ngStyle]="{ marginLeft: this.form ? '0px' : '100%' }"
    class="overflow-x-hidden transition-all ease-in absolute w-full h-full top-0"
  >
    <app-recipe-form (closeForm)="this.showForm()"></app-recipe-form>
  </div>

  <div class="flex flex-wrap gap-3">
    <div
      class="p-3 w-full h-40 bg-red-400 flex justify-start items-center gap-3"
    >
      <input
        type="text"
        name="nbPerson"
        min="1"
        [ngModel]="this.nbPerson"
        (ngModelChange)="this.changeNbPerson($event)"
        placeholder="Nombre de personne"
      />
    </div>
    <div
      *ngFor="let recipe of recipeService.getAllRecipes()"
      class="p-3 flex flex-col items-center gap-3 rounded-2xl w-40 h-40 bg-yellow-600"
    >
      <app-recipe [recipe]="recipe" [nbPerson]="this.nbPerson"></app-recipe>
    </div>

    <div
      class="p-3 w-40 h-40 bg-lime-500 rounded-2xl flex justify-center items-center"
    >
      <button type="button" (click)="this.showForm()">+ {{ this.form }}</button>
    </div>
  </div>
</div>
