<div class="bg-green-500 border-b flex gap-5">
  <div class="p-5 mr-6">WebPot</div>

  <div *ngFor="let link of links">
    <div
      class="p-5 hover:bg-green-700 transition-colors"
      routerLink="{{ link.path }}"
      routerLinkActive="bg-green-700"
    >
      {{ link.component ? link.path : "" }}
    </div>
  </div>

  <div class="flex items-center justify-center">
    <div
      class="flex flex-col items-center justify-center w-10 h-10 rounded-full bg-red-500"
      routerLink="login"
      [ngStyle]="{ background: true ? 'green' : 'red' }"
    >
      <i class="pi pi-user"></i>
    </div>
  </div>
</div>
