<div class="bg-green border-b flex justify-between h-20 font-choco">
  <div class="h-full p-5
    flex justify-center items-center">
    <span class="text-2xl">WebPot</span>
  </div>

  <div class="flex items-center">
    <div class="h-full text-2xl" *ngFor="let link of links">
      <div
        class="h-full flex justify-center items-center hover:bg-green-700 transition-colors"
        routerLink="{{ link.path }}"
        routerLinkActive="bg-green-800"
      >
        <div class="h-3/4 p-5 flex justify-center items-center border-l border-green-700">
          {{ link.component ? link.path : "" }}
        </div>
      </div>
    </div>
  </div>
  
</div>
