<div class="p-5 w-full h-full bg-orange-100
            flex flex-col gap-5">

  <!-- Category Selector -->
  <div class="p-5">
    <select name="category" [(ngModel)]="category_select">
        <option value="-1" default>Choose a category</option>
        <option *ngFor="let category of this.categoryService.getAllCategories()"
          [ngValue]="category.id">{{category.label}}</option>
    </select>
  </div>


  <!-- List of Ingredients -->
  <div class="flex flex-wrap w-full gap-5 items-center">
    <div *ngFor="let ingredient of this.getIngredientsById()">
      <app-ingredient [ingredient]="ingredient"></app-ingredient>
    </div>

    <!-- Button Form -->
    <button class="w-20 h-20 flex justify-center items-center
                border border-orange-600 rounded-2xl
                bg-gradient-to-b from-orange-500 to-orange-600"
      type="button" (click)="this.showForm()">
       <i class="pi pi-plus"></i>
   </button>
  </div>
  
</div>

<!-- Form -->
<div
[ngStyle]="{ marginLeft: this.form ? '0px' : '100%' }"
class="overflow-x-hidden transition-all ease-in absolute w-full h-full top-0"
>
<app-ingredient-form (closeForm)="this.showForm()"></app-ingredient-form>
</div>