<div class="w-full h-full bg-orange-300 bg-opacity-75
  flex justify-center items-center text-black">


  <form
    (ngSubmit)="handleAddIngredient(ingredient)"
    class="w-96 max-h-96 p-3 rounded-xl shadow-xl
        bg-gradient-to-br from-orange-500 to-orange-700
        flex flex-col justify-between gap-5">

    <!-- Close Form -->
    <div class="flex">
        <button
            type="button"
            class="w-10 h-10 rounded
                flex justify-center items-center
                border border-orange-600
                bg-gradient-to-b from-orange-500 to-orange-600"
            (click)="this.handleCloseForm()">
            <i class="pi pi-times"></i>
        </button>
    </div>

    <!-- Input label -->
    <div class="flex gap-3">
      <label>Ingredient :</label>
      <input
          class="rounded-lg grow"
          type="text"
          name="ingredient"
          maxlength="30"
          [(ngModel)]="ingredient.label"
          placeholder="Ingredient name"
      />
    </div>

    <!--  Input Category -->
    <div class="flex gap-3">
      <label>Category :</label>
      <select class="rounded-lg grow"
        name="ingredientCategory"
        [(ngModel)]="ingredient.categoryId">
        <option value="">Choose a category</option>
        <option *ngFor="let category of this.categoryService.getAllCategories()"
        [ngValue]="category.id">{{category.label}}</option>
      </select>
    </div>

    <!-- Button Add -->
    <div class="flex flex-row-reverse items-center">
      <button
          class="h-10 w-1/4 rounded-lg shadow-md
              flex items-center justify-center
              border border-orange-600
              bg-gradient-to-b from-orange-500 to-orange-600"
          type="submit"
      >
          <span
          class="flex items-center justify-center"
          >Add</span>
      </button>
    </div>
  </form>
</div>
